doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  title Gundam Net-Clash
  meta(charset='UTF-8')
  meta(name='description' content='TheQuest Gaming Magazine Template')
  meta(name='keywords' content='gaming, html')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://preview.colorlib.com/theme/thequest/img/favicon.ico' rel='shortcut icon')
  link(href='images/css.css' rel='stylesheet')
  link(rel='stylesheet' href='images/bootstrap.css')
  link(rel='stylesheet' href='images/font-awesome.css')
  link(rel='stylesheet' href='images/magnific-popup.css')
  link(rel='stylesheet' href='images/owl.css')
  link(rel='stylesheet' href='images/slicknav.css')
  link(rel='stylesheet' href='images/style.css')
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
#preloder(style='display: none;')
  .loader(style='display: none;')
header.header-section
  .row(style='text-align: center;')
    a(href='login')
      img(src='images/GundamNetLogo.jpg' alt='logo')
section.page-top-section.set-bg(data-setbg='img/header-bg/2.jpg' style='background-image: url("img/header-bg/2.jpg");')
  .container
    h2 Iniciar Sesi&oacute;n
    br
section.characters-section.character-one
  .container.text-center
    .col-lg-12
      .site-section
        .container
          .row.justify-content-center
            .col-md-12
              h2.h3.mb-3.text-black.text-center(style='color: aliceblue;') Iniciar Sesi&oacute;n
            .col-md-6
              form(action='/login/perfilCheck' method='post')
                .p-3.p-lg-5.border
                  .form-group.row
                    .col-md-12
                      label.text-black(for='username' style='color: aliceblue;') Usuario
                      input.form-control(id='username' type='text' name='username' placeholder='' required)
                  .form-group.row
                    .col-md-12
                      label.text-black(for='password' style='color: aliceblue;') Contrase&ntilde;a
                      input.form-control(type='password' id='password' name='password' required)
                  .form-group.row
                    .col-lg-12
                      input.btn.btn-secondary.btn-lg.btn-block(type='submit' value='Iniciar Sesión')
                  .text-md-center
                    a.button._terciary._regular(href='register' style='color: aliceblue;')
                      | &iquest;No tienes
                      | cuenta?
                      | Reg&iacute;strate
                  .text-md-center
                    - totalErrors = 0     
                  each n in errors
                    .text-md-center
                        label.text-black(style='color: red;' )
                          | #{errors[totalErrors]}
                    - totalErrors = totalErrors + 1 
script(src='images/jquery-3.js')
script(src='images/bootstrap.js')
script(src='images/jquery_002.js')
script(src='images/owl.js')
script(src='images/circle-progress.js')
script(src='images/jquery.js')
script(src='images/main.js')
script(async='' src='images/js.js')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
