doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  title Gundam Net-Clash
  meta(charset='UTF-8')
  meta(name='description' content='TheQuest Gaming Magazine Template')
  meta(name='keywords' content='gaming, html')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://preview.colorlib.com/theme/thequest/img/favicon.ico' rel='shortcut icon')
  link(href='images/css.css' rel='stylesheet')
  link(rel='stylesheet' href='images/bootstrap.css')
  link(rel='stylesheet' href='images/font-awesome.css')
  link(rel='stylesheet' href='images/magnific-popup.css')
  link(rel='stylesheet' href='images/owl.css')
  link(rel='stylesheet' href='images/slicknav.css')
  link(rel='stylesheet' href='images/style.css')
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
#preloder(style='display: none;')
  .loader(style='display: none;')
header.header-section
  .row(style='text-align: center;')
    a(href='home')
      img(src='images/GundamNetLogo.jpg' alt='logo')
    ul.main-menu
      li
        a(href='home') Home
      li
        a(href='modelos') Modelos
      li
        a(href='teambuilder') Teambuilder
      li
        a(href='partida') Partida
    .slicknav_menu
      a.slicknav_btn.slicknav_collapsed(href='#' aria-haspopup='true' role='button' tabindex='0' style='outline: currentcolor none medium;')
        span.slicknav_menutxt MENU
        span.slicknav_icon
          span.slicknav_icon-bar
          span.slicknav_icon-bar
          span.slicknav_icon-bar
      ul.slicknav_nav.slicknav_hidden(style='display: none;' aria-hidden='true' role='menu')
        li
          a(href='home' role='menuitem' tabindex='-1') Home
        li
          a(href='modelos' role='menuitem' tabindex='-1') Characters
        li
          a(href='teambuilder' role='menuitem' tabindex='-1') Games
        li
          a(href='Reviews.html' role='menuitem' tabindex='-1') Reviews
        li
          a(href='News.html' role='menuitem' tabindex='-1') News
        li
          a(href='Page.html' role='menuitem' tabindex='-1') Page
    div(style='text-align: end; margin-left: auto; margin-right: auto;')
      a(href='/perfil/' + trueUser[0].username  style='color: white; font-style: italic; align-content: center;')
        | #{trueUser[0].username} -
        img(src=trueUser[0].icon alt='logo' style='height: 100px;')
      a.site-btn-small(href='/login') Log Out
section.page-top-section.set-bg(data-setbg='img/header-bg/2.jpg' style='background-image: url("img/header-bg/2.jpg");')
  .container
    h2 Modelos
    br
section.characters-section.character-one
  .container
    .row
      - var clout = 0
      each n in Gundams
        if clout%3 == 0
          .col-lg-6.character-two(style='padding: 20px;')
            .character-info
              h2 #{Gundams[clout].gundamModel}
              img(src=Gundams[clout].image alt='Nono')
              h5
              h5 Puntos de Vida: #{Gundams[clout].lifePoints} Puntos
              h5 Poder de Disparo: #{Gundams[clout].shootPower} puntos
              h5 Rango de Disparo: #{Gundams[clout].shootRange}
              h5 Movimiento: #{Gundams[clout].movement} cuadrados
              h5 Tipo de Movimiento: #{Gundams[clout].movementType}
              p=Gundams[clout].descrip
              a.site-btn(href='/teambuilder/add/' + Gundams[clout].gundamModel) A&ntilde;adir
              - clout = clout + 1
        else if clout%2 == 0
          .col-lg-6.character-three(style='background: #212529;padding: 20px;')
            .character-info
              h2 #{Gundams[clout].gundamModel}
              img(src=Gundams[clout].image alt='Nono')
              h5
              h5 Puntos de Vida: #{Gundams[clout].lifePoints} Puntos
              h5 Poder de Disparo: #{Gundams[clout].shootPower} puntos
              h5 Rango de Disparo: #{Gundams[clout].shootRange}
              h5 Movimiento: #{Gundams[clout].movement} cuadrados
              h5 Tipo de Movimiento: #{Gundams[clout].movementType}
              p=Gundams[clout].descrip
              a.site-btn(href='/teambuilder/add/' + Gundams[clout].gundamModel) A&ntilde;adir
              - clout = clout + 1
        else
          .col-lg-6.character-three(style='background: #212529;padding: 20px;')
            .character-info
              h2 #{Gundams[clout].gundamModel}
              img(src=Gundams[clout].image alt='Nono')
              h5
              h5 Puntos de Vida: #{Gundams[clout].lifePoints} Puntos
              h5 Poder de Disparo: #{Gundams[clout].shootPower} puntos
              h5 Rango de Disparo: #{Gundams[clout].shootRange}
              h5 Movimiento: #{Gundams[clout].movement} cuadrados
              h5 Tipo de Movimiento: #{Gundams[clout].movementType}
              p=Gundams[clout].descrip
              a.site-btn(href='/teambuilder/add/' + Gundams[clout].gundamModel) A&ntilde;adir
              - clout = clout + 1
script(src='images/jquery-3.js')
script(src='images/bootstrap.js')
script(src='images/jquery_002.js')
script(src='images/owl.js')
script(src='images/circle-progress.js')
script(src='images/jquery.js')
script(src='images/main.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/js/chat.js')
script(type='text/javascript', src="/js/jquery-3.6.0.min.js") script(async='' src='images/js.js')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
