doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  title Gundam Net-Clash
  meta(charset='UTF-8')
  meta(name='description' content='TheQuest Gaming Magazine Template')
  meta(name='keywords' content='gaming, html')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://preview.colorlib.com/theme/thequest/img/favicon.ico' rel='shortcut icon')
  link(href='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/css.css' rel='stylesheet')
  link(rel='stylesheet' href='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/bootstrap.css')
  link(rel='stylesheet' href='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/font-awesome.css')
  link(rel='stylesheet' href='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/magnific-popup.css')
  link(rel='stylesheet' href='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/animate.css')
  link(rel='stylesheet' href='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/owl.css')
  link(rel='stylesheet' href='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/slicknav.css')
  link(rel='stylesheet' href='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/style.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='css/style.css')
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
#preloder(style='display: none;')
  .loader(style='display: none;')
header.header-section
  a(href='home')
    img(src='images/GundamNetLogo.jpg' alt='logo')
  ul.main-menu
    li
      a(href='home') Home
    li
      a(href='modelos') Modelos
    li
      a(href='teambuilder') Teambuilder
    li
      a(href='partida') Partida
  .slicknav_menu
    a.slicknav_btn.slicknav_collapsed(href='#' aria-haspopup='true' role='button' tabindex='0' style='outline: currentcolor none medium;')
      span.slicknav_menutxt MENU
      span.slicknav_icon
        span.slicknav_icon-bar
        span.slicknav_icon-bar
        span.slicknav_icon-bar
    ul.slicknav_nav.slicknav_hidden(style='display: none;' aria-hidden='true' role='menu')
      li
        a(href='home' role='menuitem' tabindex='-1') Home
      li
        a(href='modelos' role='menuitem' tabindex='-1') Characters
      li
        a(href='teambuilder' role='menuitem' tabindex='-1') Games
      li
        a(href='Reviews.html' role='menuitem' tabindex='-1') Reviews
      li
        a(href='News.html' role='menuitem' tabindex='-1') News
      li
        a(href='Page.html' role='menuitem' tabindex='-1') Page
section.page-top-section.set-bg(data-setbg='img/header-bg/2.jpg' style='background-image: url("img/header-bg/2.jpg");')
  .container
    h2 Partida
section.blog-section.spad
  br
  #row1.row
    #team0.col-lg-2
    #map.col-lg-8
    #team1.col-lg-2
  .row.justify-content-center(style='margin-top: 10px;')
    .col-lg-3.sidebar
      .sb-widget
        #container
        form(id="chat")
          #container(style='border: 2px solid #dedede; overflow:scroll; height:150px;')
            div(id="chatBox") #{text}
          input(type="hidden" id="autor" value=trueUser[0].username)
          br
          input(type="text" id="msg" placeholder="")
          input(type="submit" value="Enviar")
      - var totalGundam = 0
      each n in CurrentTeam
        input(type="hidden" id="teamGundam" + [totalGundam] value=CurrentTeam[totalGundam].gundamModel)
        - totalGundam = totalGundam + 1
      input(type="hidden" id="totalNum" value=totalGundam)
    .col-lg-2(style='text-align: center;')
      br
      img#move(src='imgs/move.svg' onclick='movementMode()')
      img#shoot(src='imgs/crosshair.svg' onclick='shootMode()')
      br
    #movementLogs.col-lg-3(style='border: 2px solid #dedede; overflow:scroll; height:150px; width: 400px;')
      p
        b Turno del Equipo Azul
  br

script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
script(src='js/animacio.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/jquery-3.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/bootstrap.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/jquery_002.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/owl.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/circle-progress.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/jquery.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/main.js')
script(src="/socket.io/socket.io.js")
script(type='text/javascript' src='/js/chat.js')
script(type='text/javascript', src="/js/jquery-3.6.0.min.js") 
script(async='' src='TheQuest%20-%20Gaming%20Magazine%20TemplateGames_files/js.js')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
