doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  title Gundam Net-Clash
  meta(charset='UTF-8')
  meta(name='description' content='TheQuest Gaming Magazine Template')
  meta(name='keywords' content='gaming, html')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/https://preview.colorlib.com/theme/thequest/img/favicon.ico' rel='shortcut icon')
  link(href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/css.css' rel='stylesheet')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/bootstrap.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/font-awesome.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/magnific-popup.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/owl.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/animate.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/slicknav.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/style.css')
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
#preloder(style='display: none;')
  .loader(style='display: none;')
header.header-section
  .row(style='text-align: center;')
    a(href='/home')
      img(src='/images/GundamNetLogo.jpg' alt='logo')
    ul.main-menu
      li
        a(href='/home') Home
      li
        a(href='/modelos') Modelos
      li
        a(href='/teambuilder') Teambuilder
      li
        a(href='/partida') Partida
    .slicknav_menu
      a.slicknav_btn.slicknav_collapsed(href='/#' aria-haspopup='true' role='button' tabindex='0' style='outline: currentcolor none medium;')
        span.slicknav_menutxt MENU
        span.slicknav_icon
          span.slicknav_icon-bar
          span.slicknav_icon-bar
          span.slicknav_icon-bar
      ul.slicknav_nav.slicknav_hidden(style='display: none;' aria-hidden='true' role='menu')
        li
          a(href='/home' role='menuitem' tabindex='-1') Home
        li
          a(href='/modelos' role='menuitem' tabindex='-1') Characters
        li
          a(href='/teambuilder' role='menuitem' tabindex='-1') Games
        li
          a(href='/Reviews.html' role='menuitem' tabindex='-1') Reviews
        li
          a(href='/News.html' role='menuitem' tabindex='-1') News
        li
          a(href='/Page.html' role='menuitem' tabindex='-1') Page
    div(style='text-align: end; margin-left: auto; margin-right: auto;')
      a(href='/perfil/' + perfilActual[0].username  style='color: white; font-style: italic; align-content: center;')
        | #{perfilActual[0].username} -
        img(src="/" + perfilActual[0].icon alt='logo' style='height: 100px;')
      a.site-btn-small(href='/login') Log Out
section.page-top-section.set-bg(data-setbg='/img/header-bg/2.jpg' style='background-image: url("img/header-bg/2.jpg");')
  .container
    h2 Perfil (Edit)
    br
section.blog-section.spad
  .container
    .row
      .col-lg-3.sidebar
          br
          br
      .col-lg-3
        form(action='/perfilupdate/update/' + perfilActual[0]._id method='post')
          .character-info
            h2 #{perfilActual[0].username}
            br
            h5 Nombre de usuario:
            br
            input.form-control(id='username' type='text' name='username' value=perfilActual[0].username  required)
            h5
            br
            h5 Password:
            br
            input.form-control(type='text' id='password' value=perfilActual[0].password name='password' required)
            h5
            br
            h5 Total de combates:
            br
            h5(style='font-style: italic;') - #{perfilActual[0].combattotal}
            h5
            br
            h5 Gundam favorito:
            br
            input.form-control(type='text' id='favoritegundam' value=perfilActual[0].favoritegundam name='favoritegundam' required)
            h5
            br
            h5 Estado:
            br
            input.form-control(type='text' id='status' value=perfilActual[0].status name='status')
            h5
            br
            input.site-btn(type='submit' value='Guardar Cambios')
        
          .col-lg-3
            .character-info
              h2
              br
              br
              h5
              br
              h5 Icono: 
              div.form-group
                div.form-group(id="icon" )
                  div(class="form-check form-check-inline" )
                    input.form-check-input(name="icon" type="radio" id="icon" value="imgs/placeholderpfp.png" required)
                    img(src="/imgs/placeholderpfp.png")
                  div(class="form-check form-check-inline" )
                    input.form-check-input(name="icon" type="radio" id="icon" value="imgs/icon2.jpg" required)
                    img(src="/imgs/icon2.jpg")
                  div(class="form-check form-check-inline" )
                    input.form-check-input(name="icon" type="radio" id="icon" value="imgs/icon3.jpg" required)
                    img(src="/imgs/icon3.jpg")
              h5
              br
      .col-lg-3
        .character-info
          form(action='/perfilupdate/delete/' + perfilActual[0]._id method='post')
            br
            br
            br
            br
            img(src="/" + perfilActual[0].icon)
            br
            br
            input.site-btn(type='submit' value='Eliminar Perfil')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/jquery-3.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/bootstrap.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/jquery_002.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/owl.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/circle-progress.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/jquery.js')
script(src='TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/main.js')
script(async='' src='TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/js.js')
script(src="/socket.io/socket.io.js")
script(type='text/javascript' src='/js/chat.js')
script(type='text/javascript', src="/js/jquery-3.6.0.min.js") 
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
