doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  title Gundam Net-Clash
  meta(charset='UTF-8')
  meta(name='description' content='TheQuest Gaming Magazine Template')
  meta(name='keywords' content='gaming, html')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://preview.colorlib.com/theme/thequest/img/favicon.ico' rel='shortcut icon')
  link(href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/css.css' rel='stylesheet')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/bootstrap.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/font-awesome.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/magnific-popup.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/owl.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/animate.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/slicknav.css')
  link(rel='stylesheet' href='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/style.css')
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
#preloder(style='display: none;')
  .loader(style='display: none;')
header.header-section
  .row(style='text-align: center;')
    a(href='home')
      img(src='/images/GundamNetLogo.jpg' alt='logo')
    ul.main-menu
      li
        a(href='/home') Home
      li
        a(href='/modelos') Modelos
      li
        a(href='/teambuilder') Teambuilder
      li
        a(href='/partida') Partida
    .slicknav_menu
      a.slicknav_btn.slicknav_collapsed(href='#' aria-haspopup='true' role='button' tabindex='0' style='outline: currentcolor none medium;')
        span.slicknav_menutxt MENU
        span.slicknav_icon
          span.slicknav_icon-bar
          span.slicknav_icon-bar
          span.slicknav_icon-bar
      ul.slicknav_nav.slicknav_hidden(style='display: none;' aria-hidden='true' role='menu')
        li
          a(href='/home' role='menuitem' tabindex='-1') Home
        li
          a(href='/modelos' role='menuitem' tabindex='-1') Characters
        li
          a(href='/teambuilder' role='menuitem' tabindex='-1') Games
        li
          a(href='Reviews.html' role='menuitem' tabindex='-1') Reviews
        li
          a(href='News.html' role='menuitem' tabindex='-1') News
        li
          a(href='Page.html' role='menuitem' tabindex='-1') Page
    div(style='text-align: end; margin-left: auto; margin-right: auto;')
      a(href='/perfil/' + trueUser[0].username  style='color: white; font-style: italic; align-content: center;')
        | #{trueUser[0].username} -
        img(src="/" + trueUser[0].icon alt='logo' style='height: 100px;')
      a.site-btn-small(href='/login') Log Out
section.page-top-section.set-bg(data-setbg='img/header-bg/2.jpg' style='background-image: url("img/header-bg/2.jpg");')
  .container
    h2 Perfil
    br
section.blog-section.spad
  .container
    .row
      .col-lg-3.sidebar
        .sb-widget
          h2.sb-title Usuarios 
          .latest-comments-widget
            - var clout = 0
            each n in perfilActual
              .lc-item
                a(href='/perfil/' + perfilActual[clout].username)
                  img(src="/" + perfilActual[clout].icon alt='Nono')
                .lc-text
                  h6 #{perfilActual[clout].username}
                  .lc-date - #{perfilActual[clout].status}
              - clout = clout + 1
        .sb-widget
          - var totalGundam = 0
          each n in CurrentTeam
            - totalGundam = totalGundam + 1
          h2.sb-title Equipo Actual (#{totalGundam}/5) 
          .latest-comments-widget
            - var clout = 0
            each n in CurrentTeam
              .lc-item
                img(src="/" + CurrentTeam[clout].imageMini alt='Nono')
                .lc-text
                  h6 #{CurrentTeam[clout].gundamModel}
                  .lc-date Unidad - #{CurrentTeam[clout].movementType}
              - clout = clout + 1
          br
          br
          a.site-btn(href='/teambuilder') Teambuilder
      - var totalPerf = -1
      each n in perfilActual
        - totalPerf = totalPerf + 1
      .col-lg-3
        .character-info
          h2 #{perfilUsuario[0].username}
          br
          h5 Nombre de usuario:
          br
          h5(style='font-style: italic;') - #{perfilUsuario[0].username}
          br
          h5 Winrate:
          br
          h5(style='font-style: italic;') - #{perfilUsuario[0].winrate}
          br
          h5 Total de combates:
          br
          h5(style='font-style: italic;') - #{perfilUsuario[0].combattotal}
          br
          h5 Gundam favorito:
          br
          h5(style='font-style: italic;') - #{perfilUsuario[0].favoritegundam}
          br
          h5 Estado:
          br
          h5(style='font-style: italic;') - #{perfilUsuario[0].status}
          br
          a.site-btn(href='/perfilupdate/' + perfilUsuario[0].username) Editar Perfil
      .col-lg-3
        .character-info
          br
          br
          br
          br
          img(src="/" + perfilUsuario[0].icon)
          br
          br
      .col-lg-3.sidebar
        .sb-widget
          h2.sb-title Chat Global
          #container
          form(id="chat")
            #container(style='border: 2px solid #dedede; overflow:scroll; height:500px; width: 100%')
              div(id="chatBox") #{text}
            input(type="hidden" id="autor" value=perfilUsuario[0].username)
            br
            input(type="text" id="msg" placeholder="")
            input(type="submit" value="Enviar")
script(src='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/jquery-3.js')
script(src='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/bootstrap.js')
script(src='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/jquery_002.js')
script(src='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/owl.js')
script(src='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/circle-progress.js')
script(src='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/jquery.js')
script(src='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/main.js')
script(async='' src='/TheQuest%20-%20Gaming%20Magazine%20TemplateHome_files/js.js')
script(src="/socket.io/socket.io.js")
script(type='text/javascript' src='/js/chat.js')
script(type='text/javascript', src="/js/jquery-3.6.0.min.js") 
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
