doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  title Gundam Net-Clash
  meta(charset='UTF-8')
  meta(name='description' content='TheQuest Gaming Magazine Template')
  meta(name='keywords' content='gaming, html')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://preview.colorlib.com/theme/thequest/img/favicon.ico' rel='shortcut icon')
  link(href='images/css.css' rel='stylesheet')
  link(rel='stylesheet' href='images/bootstrap.css')
  link(rel='stylesheet' href='images/font-awesome.css')
  link(rel='stylesheet' href='images/magnific-popup.css')
  link(rel='stylesheet' href='images/owl.css')
  link(rel='stylesheet' href='images/slicknav.css')
  link(rel='stylesheet' href='images/style.css')
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
#preloder(style='display: none;')
  .loader(style='display: none;')
header.header-section
  .row(style='text-align: center;')
    a(href='register')
      img(src='images/GundamNetLogo.jpg' alt='logo')
section.page-top-section.set-bg(data-setbg='img/header-bg/2.jpg' style='background-image: url("img/header-bg/2.jpg");')
  .container
    h2 Registro
    br
section.characters-section.character-one
  .container.text-center
    .col-lg-12
      form(action='/register/newPerf' method='post')
        .p-3.p-lg-5.border
          .form-group.row
            .col-md-12
              label.text-black(for='username' style='color: aliceblue;')
                | Nombre de usuario 
                span.text-danger *
              input.form-control(id='username' type='text' name='username' placeholder='' required)
          .form-group.row
            .col-md-12
              label.text-black(for='email' style='color: aliceblue;')
                | Email 
                span.text-danger *
              input.form-control(type='text' name='email' id='email' placeholder='' required)
          .form-group.row
            .col-md-12
              label.text-black(for='password' style='color: aliceblue;')
                | Contrase&ntilde;a 
                span.text-danger *
              input.form-control(type='password' id='password' name='password' required)
          .form-group.row
            .col-md-12
              label.text-black(for='c_password' style='color: aliceblue;' )
                | Confirmar contrase&ntilde;a 
                span.text-danger *
              input.form-control(type='password' id='c_password' name='c_password' required)
          .form-group.row
            .col-lg-12
              input.btn.btn-secondary.btn-lg.btn-block(type='submit' value='Finalizar Registro')
          .text-md-center
            a.button._terciary._regular(href='login' style='color: aliceblue;')
              | Tengo una cuenta creada
          .text-md-center
            - totalErrors = 0     
          each n in errors
            .text-md-center
                label.text-black(style='color: red;' )
                  | #{errors[totalErrors]}
            - totalErrors = totalErrors + 1 
script(src='images/jquery-3.js')
script(src='images/bootstrap.js')
script(src='images/jquery_002.js')
script(src='images/owl.js')
script(src='images/circle-progress.js')
script(src='images/jquery.js')
script(src='images/main.js')
script(async='' src='images/js.js')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
