.site-btn-small {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 104px;
	padding: 11px 27px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #10ddb4;
	color: #161616;
	line-height: 1;
	cursor: pointer;
	text-align: center;
}

.site-btn-small:hover {
	color: #161616;
}

.site-btn-small.sb-color {
	background: #ff1f56;
	color: #fff;
}

.site-btn-small.sb-color:hover {
	color: #fff;
}

.tile {
    position: absolute;
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: rgb(40, 100, 40);
}

.player {
    position: absolute;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.test {
    width: 100%;
    height: 100%;
}

.blackened {
    color: black;
}

.containerChat {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
  }
  
  .darker {
	border-color: #ccc;
	background-color: #ddd;
  }

  .blueTeam {
    color: black;
    background-color: rgb(151, 197, 240);
  }

  .redTeam {
    color: black;
    background-color: rgb(243, 122, 122);
  }
  
  .containerChat::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .containerChat img {
	float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
  }
  
  .containerChat img.right {
	float: right;
	margin-left: 20px;
	margin-right:0;
  }
  
  .time-right {
	float: right;
	color: black;
  }
  
  .time-left {
	float: left;
	color: black;
  }

  /*------------------
Header section
 ---------------------*/

.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background: #353535;
	z-index: 9999;
}

.site-logo {
	display: inline-block;
	padding: 21px 55px 20px;
	background: #222222;
}

.main-menu {
	display: inline-block;
	padding-left: 44px;
	position: relative;
	z-index: 99;
	background: #353535;
}

.main-menu li {
	display: inline-block;
}

.main-menu li a {
	position: relative;
	display: block;
	padding: 44px 7px;
	margin-right: 55px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

.main-menu li a:after {
	position: absolute;
	content: "";
	width: 0;
	height: 3px;
	left: 0;
	bottom: 0;
	background: #10ddb4;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.main-menu li a:hover:after {
	width: 100%;
}

.slicknav_menu {
	display: none;
}

.header-add {
	position: absolute;
	right: 0;
	top: 0;
	width: 43%;
	height: 100%;
	text-align: right;
}

.header-add img {
	height: 100%;
}

#map {
    position: relative;
}

#move{
    width: 80px;
    height: 80px;
    background-color: lightskyblue;
    border: 3px;
    border-radius: 10px;
    border-color: black;
}
#move:hover{
    width: 90px;
    height: 90px;
    background-color: blue;
}

#shoot{
    width: 80px;
    height: 80px;
    background-color: lightcoral;
    border: 3px;
    border-radius: 10px;
    border-color: black;
}

#shoot:hover{
    width: 90px;
    height: 90px;
    background-color: red;
}

.hud0{
    width: 100%;
    border: 2px;
    padding: 3px;
    border-style: solid;
    border-color: black;
    color: black;
    background-color: rgb(169, 199, 253);
}

.hud1{
    width: 100%;
    border: 2px;
    padding: 3px;
    border-style: solid;
    border-color: black;
    text-align: right;
    color: white;
    background-color: rgb(197, 48, 48);
}

